<h1><%= @artist.name %></h1>
<div class= right>
<button class="silver btn-small"><%= link_to 'Edit', edit_chart_artist_path([@chart, @artist])%></button>
<button class="silver btn-small"><%= link_to 'Delete', [@chart, @artist], method: :delete%></button>
<button class="silver btn-small"><%= link_to 'Back', chart_artists_path(@chart)%></button>
<button class="silver btn-small"><%= link_to 'Add Song', new_artist_song_path(@artist) %></button></div>
</div>
<h4>Songs</h4>

<% @artist.songs.each do |song| %>
  <%= render 'songs/song', { song: song } %>
<% end %>
