<h1><%= @chart.name %> - <%= @artist.name %></h1>
<hr  />
<%= link_to 'Edit Artist', edit_chart_artist_path([@chart, @artist])%>
<%= link_to 'Delete Artist', [@chart, @artist], method: :delete%>
<hr  />
<%= link_to 'Back To Artists', chart_artists_path(@chart)%>
