<h1><%= @chart.name %></h1>
<hr />

<h3>Artists:
  <% @artists.each do |artist| %></h3>
    <h5>
  <%= artist.name %>
  <% end %>
</h5>
<h3>Songs:</h3>
<h5>
  <% @songs.each do |song| %>
  <%= song.name %>
  <br  />
  <% end %>
</h5>
<button class="silver btn-small"><%= link_to 'View Songs', chart_songs_path(@chart) %></button>
<button class="silver btn-small"><%= link_to 'View Artists', chart_artists_path(@chart) %></button>
<button class="silver btn-small"><%= link_to 'Edit Chart', edit_chart_path(@chart) %> </button>
<button class="silver btn-small"><%= link_to 'Delete Chart', @chart, method: :delete %> </button>
<br  />
<br />
<button class="silver btn-small"><%= link_to 'Back', charts_path %></button>
